[
    {kernel,
      [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h,
                #{config => #{},
                  formatter => {logger_color_formatter, #{
                    template => [
                        time, " ",
                        color, "[", level, "]",
                        {pid, [" ", pid, ""], ""},
                        {mfa, [" ", mfa, ":", line], ""},
                        ": ",
                        msg,
                        reset,
                        "\n"
                    ],
                    colors => #{
                        debug => "\e[0;37m",
                        info => "\e[1;38m"
                    } 
                  }}}}
        ]}
    ]}
%    , "config/extra"
].
